@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=DM+Serif+display&display=swap');
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.bg {
  width: 100vw;
  height: 100vh;
  background-size: 400% 400%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  background: radial-gradient(
      ellipse at 1% 99%,
      #2fbaff 0%,
      rgba(94, 226, 255, 0.06) 60%,
      rgba(255, 255, 255, 0) 100%
    ),
    radial-gradient(
      ellipse at 99% 93%,
      #ff0055 0%,
      rgba(245, 91, 117, 0.32) 58%,
      rgba(255, 255, 255, 0) 100%
    ),
    radial-gradient(ellipse at 99% 10%, #f0b241 0%, rgba(255, 255, 255, 0) 60%),
    radial-gradient(
      ellipse at 0% 2%,
      #9577ff 0%,
      rgba(173, 171, 255, 0.6) 60%,
      rgba(255, 255, 255, 0) 74%
    );
  animation: trying 10s infinite alternate linear;
}

@keyframes trying {
  from {
    /* radial-gradient(farthest-corner at top right, ..) */
    background-position: left top;
    background-size: 200% 100%;
  }
  49.9% {
    background-position: left top;
  }
  50% {
    /* radial-gradient(farthest-corner at top center, ..) */
    background-size: 100% 100%;
  }
  50.1% {
    background-position: right top;
  }
  to {
    /* radial-gradient(farthest-corner at top left, ..) */
    background-position: right top;
    background-size: 200% 100%;
  }
}

.main {
  z-index: 50;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
  gap: 01.25rem;
  color: #ffffff;
}

.wip {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  gap: 1rem;
}

.main .wip .word .letter {
  position:relative;
  display:inline-block;
  animation: wave 2s ease-in-out infinite;
  animation-delay: calc(0.1s * var(--i));
  opacity:.45;
  
}

.word {
  display:flex;
  flex-direction:row;
  gap:.0625rem;
  font-family: 'Work Sans';
  font-weight: 200;
}

.bottom {
 display:flex;
 flex-direction: row;
 justify-content: space-between;
 padding:2rem;
 width:100%;
 background-color:rgba(255, 255, 255, 0.125);
 transition: all .2s linear;
}

.bottom > .logo, .bottom > .info .desc {
  opacity:.5;
  transition: all .2s linear;
}

.bottom:hover > .logo, .bottom:hover > .info .desc {
  opacity:1;
  transition: all .2s linear;
}


  @keyframes wave {
    0% {
        transform: translateY(0px);
        opacity:.45;
    }

    50% {
        transform: translateY(-5px);
        opacity:1;
    }

    100% {
        transform: translateY(0px);
        opacity:.45;
    }
}
.bottom .logo {
  padding-left: 2rem;
  align-content:center;
  align-items:center;
}

.k {
  height:30px;
  width:auto;
  
}

.info {
  display:flex;
  flex-direction:column;
  gap:.25rem;
  justify-self: flex-end;
  justify-content: space-around;
  text-align: right;
  font-size: .625rem;
  color: white;
  font-family: 'Work Sans';
  font-weight:300;
  padding-right:2rem;
}

.info .name {
  font-weight:700;
  font-size:.875rem;
}

.info .desc {
  display: flex;
  flex-direction:row;
  gap:.125rem;
}