body {
    margin:0;
    width:100vw;
    height:100vh;
    overflow:hidden;
}

.bg{
   width:100vw;
   height:100vh;
   position:fixed;
   top:0;
   left:0;
   z-index:0;
   background: 
        radial-gradient(ellipse at 1% 99%, #2fbaff 0%, rgba(94, 226, 255, 0.06) 60%, rgba(255, 255, 255, 0) 100%), 
        radial-gradient(ellipse at 99% 93%, #FF0055 0%, rgba(245, 91, 117, 0.32) 58%, rgba(255, 255, 255, 0) 100%), 
        radial-gradient(ellipse at 99% 10%, #f0b241 0%, rgba(255, 255, 255, 0) 60%), 
        radial-gradient(ellipse at 0% 2%, #9577ff 0%, rgba(173, 171, 255, 0.6) 60%, rgba(255, 255, 255, 0) 74%); 
    animation: gradient 10s linear infinite;
}

@keyframes gradient {
	from{transform:rotate(0deg)}
	to{transform:rotate(360deg)}
}



.main {
    z-index: 50;
    top:0;
    left:0;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
    width:100%;
    flex-direction: column;
    gap: 0.5rem;
    color:white;
}

.main .name {
    display:flex;
    flex-direction:row;
    gap:0.125rem;
    font-size:1rem;
}

.main .txt {
    display:flex;
    font-size:0.5rem;
}