@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=DM+Serif+display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100;0,9..144,200;0,9..144,300;0,9..144,400;0,9..144,500;0,9..144,600;0,9..144,700;0,9..144,800;0,9..144,900;1,9..144,100;1,9..144,200;1,9..144,300;1,9..144,400;1,9..144,500;1,9..144,600;1,9..144,700;1,9..144,800;1,9..144,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

nav {
  position:relative;
  z-index:100;
  margin: 0 2rem;
}

  nav .line {
    height: 2.25rem;
    position: absolute;
    top:0;
    background:white;
    padding: .5rem .5rem;
    border-radius: 0.375rem;
    margin: 0;
    z-index: 0;


  }
  nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    z-index: 10;
    display: flex;
    gap: 64px;
  }

  nav ul li {
    opacity: .4;
    transition: all 0.4s ease;
  }
      
  nav ul li:hover {
    opacity: .7;
  }

  nav ul .active a {
    color:black;
    
  }

  nav ul li:last-child{
    margin-right: 0;
  }

  nav ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
    letter-spacing: .05em;
    font-size: 14px;
    width: auto;
  }

.wip {
	flex: 1 1 0%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 01.25rem;
  color: #ffffff;
  padding: 5rem 0;
}

.bg {
  width: 100vw;
  height: 100vh;
  background-size: 400% 400%;
  position: fixed;
  
  top: 0;
  left: 0;
  z-index: 0;
  background: radial-gradient(
      ellipse at 1% 99%,
      #2fbaff 0%,
      rgba(94, 226, 255, 0.06) 60%,
      rgba(255, 255, 255, 0) 100%
    ),
    radial-gradient(
      ellipse at 99% 93%,
      #ff0055 0%,
      rgba(245, 91, 117, 0.32) 58%,
      rgba(255, 255, 255, 0) 100%
    ),
    radial-gradient(ellipse at 99% 10%, #f0b241 0%, rgba(255, 255, 255, 0) 60%),
    radial-gradient(
      ellipse at 0% 2%,
      #9577ff 0%,
      rgba(173, 171, 255, 0.6) 60%,
      rgba(255, 255, 255, 0) 74%
    );
    -moz-animation: shift 30s infinite alternate linear;
    -webkit-animation: shift 30s infinite alternate linear;
    -o-animation: shift 30s infinite alternate linear;
    -ms-animation: shift 30s infinite alternate linear;
    animation: shift 30s infinite alternate linear;
}

@keyframes shift {
  from {
    /* radial-gradient(farthest-corner at top right, ..) */
    background-position: left top;
    background-size: 200% 100%;
  }
  49.9% {
    background-position: left top;
  }
  50% {
    /* radial-gradient(farthest-corner at top center, ..) */
    background-size: 100% 100%;
  }
  50.1% {
    background-position: right top;
  }
  to {
    /* radial-gradient(farthest-corner at top left, ..) */
    background-position: right top;
    background-size: 200% 100%;
  }
}

@-moz-keyframes shift {
  from {
    /* radial-gradient(farthest-corner at top right, ..) */
    background-position: left top;
    background-size: 200% 100%;
  }
  49.9% {
    background-position: left top;
  }
  50% {
    /* radial-gradient(farthest-corner at top center, ..) */
    background-size: 100% 100%;
  }
  50.1% {
    background-position: right top;
  }
  to {
    /* radial-gradient(farthest-corner at top left, ..) */
    background-position: right top;
    background-size: 200% 100%;
  }
}

@-webkit-keyframes shift {
  from {
    /* radial-gradient(farthest-corner at top right, ..) */
    background-position: left top;
    background-size: 200% 100%;
  }
  49.9% {
    background-position: left top;
  }
  50% {
    /* radial-gradient(farthest-corner at top center, ..) */
    background-size: 100% 100%;
  }
  50.1% {
    background-position: right top;
  }
  to {
    /* radial-gradient(farthest-corner at top left, ..) */
    background-position: right top;
    background-size: 200% 100%;
  }
}

@-o-keyframes shift {
  from {
    /* radial-gradient(farthest-corner at top right, ..) */
    background-position: left top;
    background-size: 200% 100%;
  }
  49.9% {
    background-position: left top;
  }
  50% {
    /* radial-gradient(farthest-corner at top center, ..) */
    background-size: 100% 100%;
  }
  50.1% {
    background-position: right top;
  }
  to {
    /* radial-gradient(farthest-corner at top left, ..) */
    background-position: right top;
    background-size: 200% 100%;
  }
}

@-ms-keyframes shift {
  from {
    /* radial-gradient(farthest-corner at top right, ..) */
    background-position: left top;
    background-size: 200% 100%;
  }
  49.9% {
    background-position: left top;
  }
  50% {
    /* radial-gradient(farthest-corner at top center, ..) */
    background-size: 100% 100%;
  }
  50.1% {
    background-position: right top;
  }
  to {
    /* radial-gradient(farthest-corner at top left, ..) */
    background-position: right top;
    background-size: 200% 100%;
  }
}

.wip-content {
  flex: 1 1 0%;
  z-index: 50;
  position: relative;
  display: flex;
  flex-direction: column;
  height:100%;
  justify-content: center;
  align-items: center;
}



.diamond-bullet {
  font-size:12px;
  padding-bottom:2px;
  color:rgba(246,101,136,1);
}


.wip-text {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  gap: 1rem;
  filter: drop-shadow(2px 2px 0px rgb(0 0 0 / 0));

  transition: all .05s linear;
  -moz-transition: all .05s linear;
  -webkit-transition: all .05s linear;
  -o-transition: all .05s linear;
  -ms-transition: opacity, filter .05s linear;
  
}

.wip-text .word {
  display:flex;
  flex-direction:row;
  gap:.0625rem;
  font-family: 'Work Sans';
  font-weight: 300;
}

.wip-text .word .letter {
  position:relative;
  display:inline-block;

  -moz-animation: wave 2s ease-in-out infinite;
  -webkit-animation: wave 2s ease-in-out infinite;
  -o-animation: wave 2s ease-in-out infinite;
  -ms-animation: wave 2s ease-in-out infinite;
  animation: wave 2s ease-in-out infinite;

  -moz-animation-delay: calc(0.1s * var(--i));
  -webkit-animation-delay: calc(0.1s * var(--i));
  -o-animation-delay: calc(0.1s * var(--i));
  -ms-animation-delay: calc(0.1s * var(--i));
  animation-delay: calc(0.1s * var(--i));

  transition: all .05s linear;
  -moz-transition: all .05s linear;
  -webkit-transition: all .05s linear;
  -o-transition: all .05s linear;
  -ms-transition: opacity, filter .05s linear;

  opacity:.45;
}

.wip-footer {
 display:flex;
 padding:10px 0px 30px 0px;
 justify-self: end;
 position: relative;
 box-sizing:border-box;
 z-index: 100;
height:fit-content;
 bottom:0;
 flex-direction: column;
 justify-content: center;
 align-items:center;
 gap:.85rem;
 width:100%;
 align-items:center;
 transition: all .25s linear;
  -moz-transition: all .25s linear;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  -ms-transition: all .25s linear;

}

.wip-footer > .logo {
  opacity:.8;
  transition: all .25s linear;
  -moz-transition: all .25s linear;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  -ms-transition: all .25s linear;
  
}

.wip-footer > .desc {
  opacity:.65;
  transition: all .25s linear;
  -moz-transition: all .25s linear;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  -ms-transition: all .25s linear;

}

.wip-footer:hover > .logo, 
.wip-footer:hover > .desc {
  opacity:1;
  transition: all .25s linear;
  -moz-transition: all .25s linear;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  -ms-transition: all .25s linear;

}

.wip-footer:hover > .logo > .k,
.wip-footer:hover > .logo > .o,
.wip-footer:hover > .logo > .o-accent,
.wip-footer:hover > .logo > .r,
.wip-footer:hover > .logo > .ry,
.wip-footer:hover > .logo > .n {
  transition: all .25s linear;
  -moz-transition: all .25s linear;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  -ms-transition: all .25s linear;

  filter: drop-shadow(3px 3px 0px rgb(0 0 0 / 0.125));
}

@keyframes wave {
  0% {
    transform: translateY(0px);
    opacity:.45;
    filter: drop-shadow(2px 2px 0px rgb(0 0 0 / 0));
    
    
  }

  50% {
    transform: translateY(5px);
    opacity:1;
    filter: drop-shadow(2px 2px 0px rgb(0 0 0 / 0.125));
  
  }

  100% {
    transform: translateY(0px);
    opacity:.45;
    filter: drop-shadow(2px 2px 0px rgb(0 0 0 / 0));
    
  }
}

@-moz-keyframes wave {
  0% {
    -moz-transform: translateY(0px);
    opacity:.45;
    filter: drop-shadow(2px 2px 0px rgb(0 0 0 / 0));
    
  }

  50% {
    -moz-transform: translateY(5px);
    opacity:1;
    filter: drop-shadow(2px 2px 0px rgb(0 0 0 / 0.125));
    
  }

  100% {
    -moz-transform: translateY(0px);
    opacity:.45;
    filter: drop-shadow(2px 2px 0px rgb(0 0 0 / 0));
 
  }
}

@-webkit-keyframes wave {
  0% {
    -webkit-transform: translateY(0px);
    opacity:.45;
    filter: drop-shadow(2px 2px 0px rgb(0 0 0 / 0));
    
  }

  50% {
    -webkit-transform: translateY(5px);
    opacity:1;
    filter: drop-shadow(2px 2px 0px rgb(0 0 0 / 0.125));
    
  }

  100% {
    -webkit-transform: translateY(0px);
    opacity:.45;
    filter: drop-shadow(2px 2px 0px rgb(0 0 0 / 0));
    
  }
}

@-o-keyframes wave {
  0% {
    -o-transform: translateY(0px);
    opacity:.45;
    filter: drop-shadow(2px 2px 0px rgb(0 0 0 / 0));
    
  }

  50% {
    -o-transform: translateY(5px);
    opacity:1;
    filter: drop-shadow(2px 2px 0px rgb(0 0 0 / 0.125));

  }

  100% {
    -o-transform: translateY(0px);
    opacity:.45;
    filter: drop-shadow(2px 2px 0px rgb(0 0 0 / 0));
  }
}

@-ms-keyframes wave {
  0% {
    -ms-transform: translateY(0px);
    opacity:.45;
    filter: drop-shadow(2px 2px 0px rgb(0 0 0 / 0));
    
  }

  50% {
    -ms-transform: translateY(5px);
    opacity:1;
    filter: drop-shadow(2px 2px 0px rgb(0 0 0 / 0.125));
    
  }

  100% {
    -ms-transform: translateY(0px);
    opacity:.45;
    filter: drop-shadow(2px 2px 0px rgb(0 0 0 / 0));
  }
}


.logo {
  display:inline-flex;
  gap: 0;
  flex-direction: row;
  align-content:center;
  align-items:center;
  height: min-content;
  width: min-content;
  position:relative;
 
}

.wip-footer > .logo {
  transform:scale(.70);

}

.logo .nav {
  transform:scale(1);

}

.k {
  width:auto;
  fill:white;

  transition: all .25s linear;
  -moz-transition: all .25s linear;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  -ms-transition: opacity, filter .25s linear;

  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0));
}

.o {
  margin-top: -.1rem;
  margin-left: -1.45rem;
  position:relative;

  transition: all .25s linear;
  -moz-transition: all .25s linear;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  -ms-transition: opacity, filter .25s linear;

  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.0));
}

.o-letter {
  transition: all .25s linear;
  -moz-transition: all .25s linear;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  -ms-transition: opacity, filter .25s linear;

  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.0));
}

.o-accent {
  position:absolute;
  top:.425rem;
  left:.45rem;
  transition: all .25s linear;
  -moz-transition: all .25s linear;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  -ms-transition: opacity, filter .25s linear;

  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.0));
}

.r {
  margin-top:-.7rem;
  margin-left:.175rem;
  transition: all .25s linear;
  -moz-transition: all .25s linear;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  -ms-transition: opacity, filter .25s linear;

  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.0));
}

.ry {

 margin-top:.75rem;
 margin-left:-.5rem;
  transition: all .25s linear;
  -moz-transition: all .25s linear;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  -ms-transition: opacity, filter .25s linear;

  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.0));
}

.n {

  margin-top:.225rem;
  margin-left:.1rem;
  transition: all .25s linear;
  -moz-transition: all .25s linear;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  -ms-transition: opacity, filter .25s linear;

  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.0));
}

.desc {
  display: flex;
  flex-direction:row;
  gap:.375rem;
  font-style:italic;
  font-size: .625rem;
  color: white;
  font-family: 'Work Sans';
  font-weight:400;
  justify-content:center;
  margin: 0rem 2rem;
}

.wip-footer .desc .email {
  text-decoration: underline;
  text-underline-offset: .125rem;
  color: white;
  transition: all .25s linear;
  -moz-transition: all .25s linear;
  -ms-transition: all .25s linear;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  letter-spacing: auto;
  font-style:normal;
  -webkit-transform: skewX(-13deg);
  -moz-transform: skewX(-13deg);
  -ms-transform: skewX(-13deg);
  -o-transform: skewX(-13deg);
  transform: skewX(-13deg);
}

.wip-footer .desc .email:hover {
  transition: all .25s linear;
  text-shadow: 2px 1px 2px rgba(0,0,0,.15);
  letter-spacing:.01rem;
  -webkit-transform: skewX(0deg);
  -moz-transform: skewX(0deg);
  -o-transform: skewX(00deg);
  -ms-transform: skewX(00deg);
  transform: skewX(0deg);
}

.wip-footer .desc .title {
  text-align: right;
}

.desc .bullet {
  display: flex;
}

.page-wrapper {
  display:flex;
 flex: 1 1 0;
  justify-content:center;
  align-items:start;
  min-height:0px;
  overflow-y: auto;
  
}

.about-wrapper {
  display:flex;
  display:flex;
  flex: 1 1 0;
  overflow-y:auto;
  min-height:0;
  height:100%;
  align-items:center;
}



/* 



ABOUT PAGE




*/

.page {
  z-index: 50;
  position: relative;
  display:flex;
  align-items:center;
  justify-content:center;
}

.page-placeholder {
  display:flex;
  flex-direction:column;
  width: 100vw;
  box-sizing: border-box;
  justify-content: center;
  flex: 1 1 0%;
  padding: 20px 3vw;
  max-height: 100vh;
  max-width: 100vw;
  align-items: center;
  height: 100vh;
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

.about-section {
  display:flex;
  flex-direction:column;
  padding: 60px 60px;

  box-sizing: border-box;
min-height: 0px;

  gap:18px;
  border-radius: 0.5rem;
  max-width:950px;
  border-width: 1px;
  height:max-content;

  position:relative;
  z-index:50;
  border-style:solid;
  background:rgba(255,255,255,.8);
  border-color: rgba(255, 255, 255, 1);	
  }

.about-text {
  color: rgba(0,0,0,.7);
  margin: 0px;
  font-family: 'Fraunces';
  filter: drop-shadow(1px 1px 0px rgb(0 0 0 / 0.1));
  font-weight:400;
  font-size: 48px;


}

.paragraph {
  gap: 12px;
  display: flex;
  flex-direction: column;
}
.details {
  gap: 2px;
  display: flex;
  flex-direction: column;
  margin-top: -6px;
}

.paragraph-text {
  margin: 0px;
  font-size: 14px;
  color: black;
  font-family: 'Work Sans';
  font-weight:300;
  line-height: 1.65;
  color:rgba(0, 0, 0, .7);
}

.icon {
  font-size:16px;
  padding-right:6px;
}


.details-text {
  margin: 0px;
  font-size: 14px;
  color: black;
  font-family: 'Work Sans';
  font-weight:400;
  line-height: 1.65;
  color:rgba(0, 0, 0, .7);
} 

.navigation {
  display:flex;
  flex-direction:row;
  gap:40px;
  width:100%;
  justify-content:center;
  height:fit-content;
  padding-bottom:30px;
}



.nav-item {
  display:flex;
  cursor:pointer;
  box-sizing: border-box;
  flex:none;
  font-family: 'Fraunces';
  padding: 12px 0px;
  justify-content: center;
  font-size:14px;
  align-items:center;
  border-radius:9999px;
  width:150px;
  border-style:solid;
  border-width:1px;

  border-color: rgba(255, 255, 255, 0);	
  transition: all .25s linear;
  -moz-transition: all .25s linear;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  -ms-transition: all .25s linear;
  font-weight:300;

 box-shadow:0px 0px 0px rgb(0 0 0 / 0);
  background:rgba(255,255,255,0.15);
  color:rgba(255,255,255,.7);

  text-decoration:underline;
  text-decoration-color: rgb(255 255 255 / 0);

}


.nav-item:hover {
  border-color: rgba(255, 255, 255, 1);	
  border-style:solid;
  border-width:1px;
  color:rgba(255,255,255,1);
 box-shadow: 2px 2px 0px rgb(0 0 0 / 0.15);

}



.nav-item.active {
  font-weight:500;

  background:rgba(255,255,255,.8);
  filter: drop-shadow(3px 3px 0px rgb(0 0 0 / 0.125));
  border-color: rgba(255, 255, 255, .8);	
  border-style:solid;
  border-width:1px;


}




.aboutactive {

  background-size: 100%;
  background-repeat: repeat;
background-image: linear-gradient(to right, #EE5B6B 0%, #EFA734 100%);
filter: drop-shadow(0px 0px 1px rgb(0 0 0 / 0.1));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; 
-moz-background-clip: text;
-moz-text-fill-color: transparent;
}

.workactive {

  background-size: 100%;
  background-repeat: repeat;
  background-image: linear-gradient(to right, #A374EE 0%, #3EAEDF 100%);
filter: drop-shadow(0px 0px 1px rgb(0 0 0 / 0.1));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; 
-moz-background-clip: text;
-moz-text-fill-color: transparent;
}



.portrait {
  display:block;
  border-radius:.4rem;
  border-bottom-right-radius:0;
  position:absolute;
  top:-35px;
  right:-1px;
  width:300px;
  height:auto;
}

.etc-item {
  margin:0;
  margin-top:10px;
  display:flex;
  flex-direction:row;
  gap:4px;
  align-items:center;
  justify-content:center;
}

.etc {
  display:flex;
  flex-direction:row;
  gap:24px;
  width:100%;
  justify-content:center;
  align-items:center;
}

.etc-label {
  font-family: 'Work Sans';
  font-size:13px;
  color: rgba(0,0,0,.6);
  font-weight:400;

}

.likes {
  display:flex;
}

.etc-link {
  font-family: 'Fraunces';
  font-size:13px;
  font-weight:300;
  color: rgba(150,99, 234,1);
  transition: all .25s linear;
  -moz-transition: all .25s linear;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  -ms-transition: all .25s linear;

}

.etc-link:hover {
  color: rgba(243,109, 157,1);

}

.patent-links {
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  gap:4px;
}

.work-link {
  font-family: 'Work Sans';
  font-size:14px;

  font-weight:300;
  color: rgba(41,165, 218,1);
  transition: all .25s linear;
  -moz-transition: all .25s linear;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  -ms-transition: all .25s linear;
  text-decoration-color: rgba(150,99,234,0);


  
}

.work-link:hover {
  color: rgba(150,99, 234,1);
  text-decoration-color: rgba(150,99,234,1);

}
.page-wrapper.work {
  width:100%;
  flex: 1 1 0%;
  border-radius: 0.5rem;

}

.page-placeholder.drilldown {
  padding: 20px 16px;
  max-width:1280px;

}



.work-page {
  display:flex;
  flex-direction:column;
  padding: 60px 60px;
align-items:center;
justify-content:center;
  box-sizing: border-box;
min-height: 0px;
flex: 1 1 0%;
  gap:18px;
  border-radius: 0.5rem;
  max-width:100%;
  border-width: 1px;
height:100%;
 width:100%;
  position:relative;
  z-index:50;
  border-style:solid;
  background:rgba(255,255,255,.8);
  border-color: rgba(255, 255, 255, 1);	

}
.work-page.cards {
  max-width:800px;
}
.work-page.smle {
  margin-top:100px;
  position:relative;
  padding:10px 10px;
  height:fit-content;
  background:rgba(250,248,255,1);
}


.work-page.mlgb {
  margin-top:140px;
  position:relative;
  padding:10px 10px;
  padding-bottom:30px;
  height:fit-content;
  background:rgba(250,248,255,1);
}

.header-text {
  color: rgba(0,0,0,.7);
  margin: 0px;
  font-family: 'Fraunces';
  filter: drop-shadow(1px 1px 0px rgb(0 0 0 / 0.1));
  font-weight:400;
  font-size: 28px;
}

.bottom-test {
  display:flex;
  width:100%;
  height:2000px;
}

.smle-text {
  color: rgba(255,255,255,1);
  display:flex;
  padding-right:550px;
  margin: 0px;
position:absolute;
width:50%;
left:24px;
top:-70px;
  font-family: 'Fraunces';
  filter: drop-shadow(1px 1px 0px rgb(0 0 0 / 0.1));
  font-weight:400;
  font-size: 32px;
}

.mlgb-text {
  color: rgba(255,255,255,1);
  display:flex;
  padding-right:400px;
  margin: 0px;
position:absolute;
width:50%;
left:24px;
top:-110px;
  font-family: 'Fraunces';
  filter: drop-shadow(1px 1px 0px rgb(0 0 0 / 0.1));
  font-weight:400;
  font-size: 32px;
}

.smle-header {
  padding:6px 40px;
  box-sizing:border-box;
  display:flex;
  flex-direction:row;
  gap:12px;
  width:100%;
  justify-content: start;
  align-items:center;
  font-size:18px;
  font-family: 'Work Sans';
  padding-bottom:0;
}

.smle-header > h2 {
  font-weight:500;
  font-size:16px;
  font-family: 'Work Sans';
}

.intro-pgh {
  padding-left:40px;
  display:flex;
  flex-direction:column;
  gap:12px;
 
}

.intro-pgh > p { 
  margin:0;
  font-size:15px;
  line-height: 1.5;
  font-family:'Work Sans';
  font-weight:300;
  padding-right:40px;
}

.intro-pgh > .first-pgh {
  padding-right:530px;
}

/* WORK SUMMARY SCREEN */

.work-cards {
  display:flex;
  flex-direction:column;
  gap:30px;
  align-items:stretch;
  width:100%;
  height:100%;
  box-sizing:border-box;
  justify-content:center;
}

.card {
  width:100%;
  max-width:600px;
  overflow:hidden;
  align-self:center;
  display:flex;
  flex-direction:column;
  position:relative;
  align-items:center;
  justify-content:center;
  flex: 1 1 0%;
  border-radius:.5rem;
  border-style:solid;
  box-sizing:border-box;
  border-width:1px;
  border-color: rgba(255,255,255,1);
  background: rgba(255,255,255,.8);
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.05));
  text-decoration-color:rgba(0,0,0,0);
  cursor:pointer;
  text-align:center;
  transition: all .25s linear;
  -moz-transition: all .25s linear;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  -ms-transition: all .25s linear;
}

.card:hover {
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.1));
}

.card-title {
  font-family: 'Fraunces';
  color: rgba(0,0, 0,0);
  text-decoration-color:rgba(0,0,0,0);
  display:flex;
  font-weight:500;
  font-size:18px;
  width:100%;
  height:100%;
  padding:20px 30px;
  position:relative;
  z-index:10;
  box-sizing:border-box;
  align-items:center;
  filter: drop-shadow(1px 1px 1px rgb(0 0 0 / 0.3));
  justify-content:center;
}

.card:hover >.card-title {
  transition: all .25s linear;
  -moz-transition: all .25s linear;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  -ms-transition: all .25s linear;
  color:rgba(0,0,0,.8);
}

.navigation.drilldown {
  padding-bottom:20px;
}

.wip-footer.drilldown {
  flex-direction:row;
  justify-content:space-between;
  padding:10px 12px;
  padding-top:20px;
  gap:4px;
}

.wip-footer.drilldown > .logo{
  margin-left:-10px;
}

.wip-footer.drilldown >.desc {
  margin:0;
  padding-right:6px;
  padding-bottom:2px;
  
  align-items:center;
}

.linkedin {
  display:flex;
  align-items:center;
  justify-content:center;
  flex: none;
  width:18px;
  height:18px;
}

.linkedin-logo {
  width:18px;
  height:18px;
}

.smle-hero, .mlgb-hero {
  position:absolute;
  right:30px;
  top:-88px;
  height:286px;
  width:auto;
}



.page-header {
  display:flex;
  width:100%;
  box-sizing:border-box;
  flex-direction:column;
  gap:0;
}

.smle-content.active {
  display:flex;
  flex-direction:column;
  padding: 0px 40px;
  width:100%;
  box-sizing:border-box;
  gap:22px;
  padding-bottom:20px;
}

.smle-content.inactive {
  display:none;
}

.paragraph-info {
  display:flex;
  flex-direction:column;
  gap:6px;
}

.paragraph-info > .pgh-text {
  margin:0;
  font-size:15px;
  line-height: 1.5;
  font-family:'Work Sans';
  font-weight:300;

}

.paragraph-info > .section-label {
  padding-bottom:6px;

}

.content-section {
  display:flex;
  flex-direction:column;
  gap:6px;
  padding-top:10px;
}

.section-label {
  margin:0;
  font-family:'Fraunces';
  font-size:22px;
  font-weight:500;
}

.paragraph-image {
  display:flex;
  flex-direction:row;
  gap:26px;
  align-items:center;
}

.img-caption {
  display:flex;
  flex-direction:column;
  gap:12px;


}

.img-caption > .image {
  width:280px;
  height:auto;
}

.img-caption > span {
  font-family:'Work Sans';
  font-size:12px;
  font-weight:300;
}

.full-width-image {
  margin-top:30px;
  width:100%;
  border-radius:.4rem;
  background-color:white;
  display:flex;
  justify-content:center;
  align-items:center;
}

.full-width-image.no-margin {
  margin-top:0px;
  
}

.full-width-image > .studio-explorations {
  display:flex;
  width:100%;
  height:auto;
  max-width:100%;
}

.full-width-image > .mental-models {
  display:flex;
  width:100%;
  height:auto;
  max-width:1000px;
}


.full-width-image > .user-journeys {
  display:flex;
  width:100%;
  height:auto;
  max-width:800px;
}

.page-tabs {
  position:sticky;
  top:0px;
  padding:10px 30px;
z-index:50;
  box-sizing:border-box;
  background:rgba(250,248,255,1);
  width:100%;
  display:flex;
  flex-direction:row;
  gap:20px;
}

.page-tabs.mlgb {
  position:relative;
}

.tab {
  background:rgba(150,99, 234,0);
  padding:10px 8px;
  color:rgba(0,0,0.8);
  font-family:'Fraunces';
  font-size:15px;
  font-weight:400;
  border-style:solid;
  border-width:0 0 1px 0;
  border-radius:.4rem;
cursor:pointer;
  border-color:rgba(150,99, 234,0);
  transition: all .25s linear;
  -moz-transition: all .25s linear;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  -ms-transition: all .25s linear;
}

.tab:hover{
  border-color:rgba(150,99, 234,0);
  color: rgba(150,99, 234,1);
  background-color:rgba(150,99, 234,.1);
}

.tab.active {

  color:rgba(248,101,136,1);
  background-color:rgba(248,101,136,.1);
}

.tab.active:hover {
  background-color:rgba(248,101,136,.2);
}

.lab-grid {
  padding-top:20px;
  display:flex;
  flex-direction:row;
  width:100%;
  gap:20px;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items:center;

}



.lab-grid.studio {
gap:20px 0;

}

.lab-designs, .three-opts {
  display:flex;
  width:30%;
  height:auto;
  align-items:center;
  justify-content:center;
  filter: drop-shadow(1px 1px 3px rgb(0 0 0 / 0.1));
  border-radius:.3rem;
}
.design-opts {
  flex-direction:column;
}

.design-opts > .lab-designs {
  width:100%;
}
.studio-designs, .two-opts {
  display:flex;
  width:48%;
  height:auto;
  align-items:center;
  justify-content:center;
  filter: drop-shadow(1px 1px 3px rgb(0 0 0 / 0.1));
  border-radius:.3rem;
}

.subsection-label {
  font-size:14px;
  font-weight:500;
  font-family:'Work Sans';
}

.design-opts > .studio-designs {
  width:100%;
}

.page-header {
  position:relative;
}

.side-banner-wrapper {
  display:flex;
  align-items:center;
  justify-content:center;
  width:30px;
  height:100%;
  z-index:60;
  position:absolute;
  top:0;
  right:5px;
  
}
.side-banner {
  position:sticky;
  transform: rotate(90deg);
  justify-content:center;
  align-items:center;
width:max-content;
top:155px;
white-space: nowrap;	
 font-size:13px;
 font-family:'Work Sans';
 color:rgba(0,0,0,.7);
 text-transform: uppercase;
 letter-spacing: 0.025em;
 
  display:flex;
}

.card > .card-bg{
  display:flex;
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  opacity:90%;
  transition: all .25s linear;
  filter:blur(0px);
  -moz-transition: all .25s linear;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  -ms-transition: all .25s linear;
}

.card:hover > .card-bg{
  opacity:40%;
  filter: blur(1.5px);
}
.card.robo > .card-bg{
  background-image:url("roboflow.png");
  background-size: cover;
}

.card.smle > .card-bg{
  background-image:url("smle-card.png");
  background-size: cover;
}

.card.mlgb > .card-bg{
  background-image:url("mlgb-card.png");
  background-size: cover;
  border-radius:.4rem;
}


.page-wrapper.work.cards {
  padding:20px 0;
}

.work-page.robo {
  max-height:100%;
  padding:10px 40px;
}

.robo-screens {
display:flex;
flex-direction:row;
flex-wrap:wrap;
gap:20px;
justify-content:center;
max-width:800px;

}
.contact-text {
  font-size:15px;
  font-weight:300;
  padding-bottom:10px;
  font-family:'Work Sans';
}
.robo-img {
  display:flex;
  width:45%;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.05));
}
@media screen and (max-width: 1024px) {

  .wip-text {
    font-size:1.25rem;
  }


  .about-text {
    font-size:38px;
  }

  .about-section {
    padding:40px;


  }

  .wip-footer {
    padding-top:20px;
  }




}

@media screen and (max-width: 589px)  {
  .nav-item {
    width:max-content;
    padding: 8px 15px;
   }
   .navigation {
     padding-bottom:20px;
     gap:10px;
   }

   .first-work {
    display:none;
  }

 .paragraph-info > .pgh-text {
    font-size:14px;
  }

  .work-page.cards {
    padding:30px;
  }

}

@media screen and (max-width: 760px)  {
  .card-title {
    font-size:16px;
  }

  .wip-text {
    font-size:1.25rem;
  }

  .about-text {
    font-size:28px;
  }
  .page-placeholder {
    padding: 20px 30px;
  }

  .paragraph-text {
    font-size:13px;
  }

  .wip-footer {
    padding-top:20px;
  }

  .likes {
    display:none;
  }
  .etc {
    flex-direction: column;
    gap:0px;
  }

.paragraph-image {
  flex-direction:column;
}
 
 
}

@media screen and 
(max-width: 480px) {
  .card-title {
    font-size:14px;
  }

  .wip-footer {
    padding-top:20px;
    gap:0px;

  }
  .wip-footer > .logo {
    opacity:.9;
  }

  .wip-footer > .desc {
    opacity:.75;
    align-items:center;
  }

  .wip-text {
    font-size:1.25rem;
  }

  .wip-footer .desc {
    font-size: .65rem;
    flex-direction:column;
    gap:.375rem;
  }
.wip-footer .desc > .email {
  padding-bottom:6px;
}

  .wip-footer.drilldown > .desc {
    align-items: end;
  }

  .wip-footer .bullet {
    display: none;
  }

  .about-text {
    font-size: 20px;
  }

  .paragraph-text {
    font-size:12px;
  }
  .likes {
    display:none;
  }

  .work-info {
    display:none;
  }

  .etc {
    flex-direction: column;
    gap:0px;
  }

  
}


@media screen and 
(max-height: 620px) {
  .about-wrapper {
    align-items:start;
  }

}

@media screen and 
(max-width: 450px) {
  .page-placeholder {
    padding: 5% 20px 20% 20px;
    height:95vh;
  }
 
  .page-placeholder.drilldown {
    padding: 5% 20px 20% 20px;
    height:95vh;
  }

}




/* SMLE HEADER STUFF */

@media screen and (min-width:1191px) {
  .smle-text {
    top:-70px;
  }

}


@media screen and (max-width:1190px) {
  .work-page.smle {
    margin-top:120px;
  }

  .smle-text {
    top:-110px;
  }

  .smle-hero {
    top:-70px;
  }
}

@media screen and (max-width:1153px) {
  .smle-hero {
    top:-60px;
  }
  .smle-text {
    top:-110px;
  }
}



@media screen and (max-width:1078px) {
  .smle-hero {
    top:-10px;
  }
  .smle-text {
    padding-right:0;
    width:94%;
    align-items:center;
    justify-content:center;
    top:-70px;
  }

  .work-page.smle {
    margin-top:80px;
  }
}

@media screen and (max-width:988px) {
  .smle-hero {
    top:24px;
  }

  .smle-text {
    padding-right:0;
    width:94%;
    align-items:center;
    justify-content:center;
    top:-70px;
  }

  .work-page.smle {
    margin-top:80px;
  }
}

@media screen and (max-width:952px) {
  .intro-pgh > p {
    font-size:14px;
  }
  .smle-hero {
    display:none;
  }


  .smle-content.active {
    padding:0px 20px;
    padding-bottom:20px;
  }
.smle-header, .intro-pgh {
  padding:0px 20px;
}
  .intro-pgh > .first-pgh {
    padding-right:0px;
  }
  .intro-pgh > p {
    padding-right:0px;
  }
  .smle-text {
    padding-right:0;
    width:94%;
    align-items:center;
    justify-content:center;
    top:-70px;

  }

  .mlgb-text {
    padding-right:0;
    width:94%;
    align-items:center;
    justify-content:center;
  }

  .work-page.smle {
    margin-top:80px;
  }

  .work-page.mlgb {
    margin-top:120px;
  }

  .lab-designs, .three-opts {
    width:48%;
    
  }

  .lab-grid {
    gap:20px 0;

  }

  .page-tabs {
    padding:10px 20px;
  }

  .side-banner-wrapper {
    right:-1px;
   }

   .side-banner {
    font-size:12px;
    top:138px;
   }
}

@media screen and (min-width:953px) and (max-width:1078px){
.work-page.mlgb {
  margin-top:100px;
}
  .mlgb-text {
    padding-right:0;
    width:100%;
    top:-80px;

  }
}
@media screen and (min-width:731px) and (max-width:952px){
  .work-page.mlgb {
    margin-top:90px;
  }
  .mlgb-text {
    top:-70px;
  }
}

@media screen and (max-width:650px){
  .smle-text {
    font-size:28px;
    top:-55px;
  }

  .mlgb-text {
    font-size:28px;
    top:-92px;
  }

  .work-page.smle {
    margin-top:60px;
  }

  .work-page.mlgb {
    margin-top:90px;
  }

  .smle-header {
    justify-content:center;
    height:42px;
    padding-top:0;
  }

  .lab-designs, .three-opts {
    width:100%;
    
  }

  .studio-designs, .two-opts {
    width:100%
  }

  .lab-grid {
   justify-content:center;
    
  }
  .contact-text {
    padding:10px 0;
    padding-top:20px;
    width:100%;
    text-align:center;
  }

  .work-page.robo{
    max-height:4000px;
    height:max-content;
    align-items:start;
  }

  .robo-screens {
    height:fit-content;
    padding-bottom:30px;
  }

  .robo-img {
    display:flex;
    width:95%;
  }

}

@media screen and (max-width:574px){
  .smle-text {
    font-size:22px;
    top:-50px;
    left:12px;
  }

  .mlgb-text {
    font-size:24px;
    left:12px;
    top:-75px;
  }

  .work-page.mlgb {
    margin-top:75px;
  }

  .work-page.smle {
    margin-top:50px;
  }

  .tab {
    font-size:14px;
  }
}



@media screen and (max-width:462px){
  .smle-text {
    font-size:20px;
    top:-50px;
    left:12px;
  }

  .mlgb-text {
    font-size:20px;
  }
  .work-page.smle {
    margin-top:50px;
  }
}


@media screen and (max-width:425px){
  .smle-text {
    font-size:17px;
    top:-40px;
    left:10px;
  }

  .work-page.smle {
    margin-top:40px;
  }
}

@media screen and (min-width:1127px) {
  .paragraph-image.researchbrief {
    margin-top:-5px;
  }
}

@media screen and (min-width:1169px) {
  .paragraph-image.researchbrief {
    margin-top:-15px;
  }
}
